<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="" xmlns:th="www.thymeleaf.org"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Game Manager</title>

    <link rel="icon" href="../webroot/assets/media/image/logo.png">
    <link rel="stylesheet" href="../webroot/assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="../webroot/assets/css/style.css">

    <!-- Plugin styles -->
    <link rel="stylesheet" href="../webroot/vendors/bundle.css" type="text/css">

    <!-- Prism -->
    <link rel="stylesheet" href="../webroot/vendors/prism/prism.css" type="text/css">

    <!-- App styles -->
    <link rel="stylesheet" href="../webroot/assets/css/app.min.css" type="text/css">
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    <link rel="stylesheet" href="../vendors/clockpicker/bootstrap-clockpicker.min.css" type="text/css">
    <link rel="stylesheet" href="../webroot/vendors/datepicker/daterangepicker.css" type="text/css">

</head>
<body class="form-membership">

<!-- begin::preloader-->
<div class="preloader">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="50px" height="50px" viewBox="0 0 128 128"
         xml:space="preserve">
        <rect x="0" y="0" width="100%" height="100%" fill="#FFFFFF"/>
        <g>
            <path d="M75.4 126.63a11.43 11.43 0 0 1-2.1-22.65 40.9 40.9 0 0 0 30.5-30.6 11.4 11.4 0 1 1 22.27 4.87h.02a63.77 63.77 0 0 1-47.8 48.05v-.02a11.38 11.38 0 0 1-2.93.37z"
                  fill="#000000" fill-opacity="1"/>
            <animateTransform attributeName="transform" type="rotate" from="0 64 64" to="360 64 64"
                              dur="500ms" repeatCount="indefinite">
            </animateTransform>
        </g>
    </svg>
</div>
<!-- end::preloader -->
<!-- Left Panel -->
<aside class="navigation left-panel">

    <!-- begin::logo -->
    <div id="logo">

        <img class="logo" src="../webroot/assets/media/image/logo.png" alt="logo">
        <img class="logo-sm" src="../webroot/assets/media/image/logo-sm.png" alt="small logo">
        <img class="logo-dark" src="../webroot/assets/media/image/logo-dark.png" alt="dark logo">
    </div>
    <!-- end::logo -->

    <!-- begin::navigation header -->
    <header class="navigation-header">
        <div>
            <h5>Fotoable</h5>
            <p class="text-muted">Administrator</p>
            <ul class="nav">
                <li class="nav-item">
                    <a onclick="logout()" class="btn nav-link bg-danger-bright" title="Logout" data-toggle="tooltip">
                        <i data-feather="log-out"></i>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <!-- end::navigation header -->

    <!-- begin::navigation menu -->
    <div class="navigation-menu-body" th:utext="${sidePanal}">

        <!--        <ul>-->
        <!--            <li class="navigation-divider">最大类别</li>-->
        <!--            <li><a href="#">Trophies</a>-->
        <!--                <ul>-->
        <!--                    <li><a href="queryTrophies">queryTrophies</a></li>-->
        <!--                </ul>-->
        <!--            </li>-->
        <!--            <li><a href="#">Login</a>-->
        <!--                <ul>-->
        <!--                    <li><a href="queryLogin">queryLogin</a></li>-->
        <!--                    <li><a href="queryChest">queryChest</a></li>-->
        <!--                </ul>-->
        <!--            </li>-->
        <!--        </ul>-->

    </div>
    <!-- end::navigation menu -->

</aside>
<!-- Left Panel -->

<!-- Right Panel -->


<div id="right-panel" class="right-panel" style="width: 1000px;margin: 35px auto">

    <!-- Header-->
    <header id="header" class="header">
        <div class="top-left">
            <div class="navbar-header">

            </div>
        </div>
        <div class="top-right">
            <div class="row form-group">
                <form name="queryMatch" class="form-horizontal">
                    <div class="col-12 col-md-9" style="width: 300px"><select name="sel" class="form-control">
                        <option value="1">广州</option>
                        <option value="2">深圳</option>
                        <option value="3">山东</option>
                        <option value="4">北京</option>
                    </select></div>

                </form>
            </div>
        </div>
    </header><!-- /header -->
    <!-- Header-->

    <div class="content" style="margin: auto">
        <div class="animated fadeIn">


            <div class="row">


                <div class="col-lg-6" style="flex: 0 0 auto;max-width: 100%" th:utext="${name}">


                </div>

            </div>

        </div>

    </div>
</div>


<script src="../webroot/vendors/bundle.js"></script>

<!-- Select2 -->
<script src="../webroot/vendors/select2/js/select2.min.js"></script>
<script src="../webroot/assets/js/examples/select2.js"></script>

<!-- Range slider -->
<script src="../webroot/vendors/range-slider/js/ion.rangeSlider.min.js"></script>
<script src="../webroot/assets/js/examples/range-slider.js"></script>

<!-- Input mask -->
<script src="../webroot/vendors/input-mask/jquery.mask.js"></script>
<script src="../webroot/assets/js/examples/input-mask.js"></script>

<!-- Tagsinput -->
<script src="../webroot/vendors/tagsinput/bootstrap-tagsinput.js"></script>
<script src="../webroot/assets/js/examples/tagsinput.js"></script>

<!-- Prism -->
<script src="../webroot/vendors/prism/prism.js"></script>

<!-- App scripts -->
<script src="../webroot/assets/js/app.min.js"></script>
<!-- Prism -->

<script src="../webroot/assets/js/main.js"></script>
<script src="../webroot/vendors/bundle.js"></script>
<script src="../vendors/clockpicker/bootstrap-clockpicker.min.js"></script>
<script type="text/javascript" src="../webroot/vendors/datepicker/daterangepicker.js"></script>

<script type="text/javascript" th:inline="javascript">
    var pageName = [[${pagename}]]

    $(function () {
        console.log(pageName.t);

        $("[href=" + pageName + "]").addClass("active");
        $("[href=" + pageName + "]").parent().parent().parent().addClass("open")
        console.log(pageName);
    })

    function logout() {
        // $.ajax({
        //     type: "GET",
        //     datatype: "text",
        //     url: "/login/logout"
        // })
        document.cookie = "Token=token;Path=/"
        window.location.href = "/login";
    }

    $('#Clock').clockpicker()
        .find('input').change(function () {
        // console.log(this.value);
    });
    $(document).ready(function () {
        $('#Date').daterangepicker({
            singleDatePicker: true
        })
    })

</script>
</body>
</html>
