<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="" xmlns:th="www.thymeleaf.org"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Game Manager</title>

    <link rel="icon" href="/webroot/assets/media/image/logo.png">
    <link rel="stylesheet" href="/webroot/assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="/webroot/assets/css/style.css">

    <!-- Plugin styles -->
    <link rel="stylesheet" href="/webroot/vendors/bundle.css" type="text/css">

    <!-- Prism -->
    <link rel="stylesheet" href="/webroot/vendors/prism/prism.css" type="text/css">

    <!-- App styles -->
    <link rel="stylesheet" href="/webroot/assets/css/app.min.css" type="text/css">
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
</head>
<body class="form-membership" style="padding: 0">

<!-- begin::preloader-->
<div class="preloader">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="50px" height="50px" viewBox="0 0 128 128"
         xml:space="preserve">
        <rect x="0" y="0" width="100%" height="100%" fill="#FFFFFF"/>
        <g>
            <path d="M75.4 126.63a11.43 11.43 0 0 1-2.1-22.65 40.9 40.9 0 0 0 30.5-30.6 11.4 11.4 0 1 1 22.27 4.87h.02a63.77 63.77 0 0 1-47.8 48.05v-.02a11.38 11.38 0 0 1-2.93.37z"
                  fill="#000000" fill-opacity="1"/>
            <animateTransform attributeName="transform" type="rotate" from="0 64 64" to="360 64 64" dur="500ms"
                              repeatCount="indefinite">
            </animateTransform>
        </g>
    </svg>
</div>
<!-- end::preloader -->
<!-- Left Panel -->
<aside class="navigation left-panel" style="height: 100%;top: 0;width: 16%">

    <div id="logo" style="padding-top: 50px;padding-bottom: 50px">

        <img class="logo" src="/webroot/assets/media/image/logo.png" alt="logo">
        <img class="logo-sm" src="/webroot/assets/media/image/logo-sm.png" alt="small logo">
        <img class="logo-dark" src="/webroot/assets/media/image/logo-dark.png" alt="dark logo">
    </div>
    <!-- end::logo -->

    <!-- begin::navigation header -->

    <header class="navigation-header">

        <div>
            <h5>Merge</h5>
            <div class="text-muted" id="operatorName" th:text="${username}"></div>
        </div>
    </header>
    <!-- end::navigation header -->

    <!-- begin::navigation menu -->
    <div class="navigation-menu-body" th:utext="${sidePanal}">

    </div>
    <!-- end::navigation menu -->

</aside>
<!-- Left Panel -->

<!-- Right Panel -->


<div id="right-panel" class="right-panel" style="width: 70%;margin: 3% auto">

    <div class="content" style="margin: auto">
        <div class="animated fadeIn">
            <div class="row">

                <div class="col-lg-6" style="flex: 0 0 auto;margin-left:15%">
                    <div class="card" th:utext="${contentString}" id="pageContent"></div>

                    <div th:utext="${returnString}" id="returnContent"></div>
                    <div th:utext="${userInfo}" id="userInfo"></div>
                </div>
                <div class="col-lg-3" style="flex: 0 0 auto;margin-left:4%"
                     >
                    <div th:utext="${configsName}" id="configsName"></div>
                    <div th:utext="${subList}" id="subList"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/webroot/vendors/bundle.js"></script>

<!-- Select2 -->
<script src="/webroot/vendors/select2/js/select2.min.js"></script>
<script src="/webroot/assets/js/examples/select2.js"></script>

<!-- Range slider -->
<script src="/webroot/vendors/range-slider/js/ion.rangeSlider.min.js"></script>
<script src="/webroot/assets/js/examples/range-slider.js"></script>

<!-- Input mask -->
<script src="/webroot/vendors/input-mask/jquery.mask.js"></script>
<script src="/webroot/assets/js/examples/input-mask.js"></script>

<!-- Tagsinput -->
<script src="/webroot/vendors/tagsinput/bootstrap-tagsinput.js"></script>
<script src="/webroot/assets/js/examples/tagsinput.js"></script>

<!-- Prism -->
<script src="/webroot/vendors/prism/prism.js"></script>

<!-- App scripts -->
<script src="/webroot/assets/js/app.min.js"></script>
<!-- Prism -->


<script src="/webroot/vendors/bundle.js"></script>

<script type="text/javascript" src="/webroot/vendors/datepicker/daterangepicker.js"></script>

<script src="/webroot/laydate/laydate.js"></script>


<script type="text/javascript" th:inline="javascript">

</script>
<!---->
<script src="/webroot/assets/js/main.js"></script>
<script src="/webroot/assets/js/home.js"></script>
<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
</body>
</html>
