<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <p>index</p>
    <a onclick="logout()">Logout</a>
    <script src="../webroot/vendors/bundle.js"></script>

<script>

    function logout() {
        localStorage.setItem("token", "token");
        window.location.href="/login";
    }

    $(document).ready(function() {
        if (localStorage.getItem("token") != null) {
            $.ajax({
                type: "POST",
                dataType: "text",
                url: "/login/authenticity",
                headers: {
                    Authorization: "Bearer " + localStorage.getItem("token").toString()
                }, error: function () {
                    window.location.href = "/login";
                }
            });
        } else {
            window.location.href = "/login";
        }
    })
    function post(URL, PARAMS) {
        var temp = document.createElement("form");
        temp.action = URL;
        temp.method = "post";
        temp.style.display = "none";
        for (var x in PARAMS) {
            var opt = document.createElement("textarea");
            opt.name = x;
            opt.value = PARAMS[x];
            temp.appendChild(opt);
        }
        document.body.appendChild(temp);
        temp.submit();
        return temp;
    }
</script>
</body>
</html>