<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <link rel="icon" href="../webroot/assets/media/image/logo.png">

    <!-- Favicon -->
<!--    <link rel="shortcut icon" href="webroot/assets/media/image/favicon.png"/>-->

    <!-- Plugin styles -->
    <link rel="stylesheet" href="../webroot/vendors/bundle.css" type="text/css">
    <!-- App styles -->
    <link rel="stylesheet" href="../webroot/assets/css/app.min.css" type="text/css">
</head>
<body class="form-membership">

<!-- begin::preloader-->
<div class="preloader">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="50px" height="50px" viewBox="0 0 128 128"
         xml:space="preserve">
        <rect x="0" y="0" width="100%" height="100%" fill="#FFFFFF"/>
        <g>
            <path d="M75.4 126.63a11.43 11.43 0 0 1-2.1-22.65 40.9 40.9 0 0 0 30.5-30.6 11.4 11.4 0 1 1 22.27 4.87h.02a63.77 63.77 0 0 1-47.8 48.05v-.02a11.38 11.38 0 0 1-2.93.37z"
                  fill="#000000" fill-opacity="1"/>
            <animateTransform attributeName="transform" type="rotate" from="0 64 64" to="360 64 64"
                              dur="500ms" repeatCount="indefinite">
            </animateTransform>
        </g>
    </svg>
</div>
<!-- end::preloader -->

<div class="form-wrapper">

    <!-- logo -->
    <div id="logo">
        <img class="logo" src="../webroot/assets/media/image/logo.png" alt="image">
        <img class="logo-dark" src="../webroot/assets/media/image/logo-dark.png" alt="image">
    </div>
    <!-- ./ logo -->

    <h5>Sign in</h5>

    <!-- form -->
    <form id="login" onsubmit="return false" method="post">
        <div class="form-group">
            <input type="text" id="username" class="form-control" placeholder="用户名" name="username" required autofocus>
        </div>
        <div class="form-group">
            <input type="password" id="password" class="form-control" placeholder="密码" name="password" required>
        </div>
        <div class="form-inline">
            <input type="text" class="form-control"  placeholder="验证码" id="verifyCode" style="width: 230px;" required autofocus>
            <img data-v-26c78af1 src="/login/verifyCodePic"  id="verifyCodePic" alt style="cursor: pointer;" onclick="changeUrl()" >
        </div>
        <div class="form-group d-flex justify-content-between">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="remember"  style="width:100px">
                <label class="custom-control-label" for="remember">Remember me</label>
            </div>
<!--            <a href="recover-password.html">Reset password</a>-->
        </div>


        <button class="btn btn-primary btn-block" id="sign in" onclick="btn()">Sign in</button>

        </button>
    </form>

</div>

<!-- Plugin scripts -->
<script src="../webroot/vendors/bundle.js"></script>

<!-- App scripts -->
<script src="../webroot/assets/js/app.min.js"></script>
<script src="../webroot/assets/js/jsencrypt.min.js"></script>
<!-- Token -->
<script>

    // window.alert = function (str) {
    //     let shield = document.createElement("div");
    //     shield.className = "alert alert-danger";
    //     shield.role = "alert";
    //     shield.innerText = str
    //     document.body.appendChild(shield);
    // }

    function btn() {

        document.getElementById("sign in").innerHTML =
            "<span class=\"spinner-border spinner-border-sm\" role=\"status\" aria-hidden=\"true\"></span>\n" +
            "            <span class=\"sr-only\">Loading...</span>"


        $.ajax({
            type: "GET",
            datatype: "text",
            url: "/login/verifyCode",
            success: function (data) {
                if (($('#verifyCode').val() !== "")) {
                    if ($('#verifyCode').val().toLowerCase() === data.toLowerCase()) {
                        let encrypt = new JSEncrypt();

                        $.ajax({
                            type: "GET",
                            datatype: "text",
                            url: "/login/publicKey",
                            success: function (data) {
                                // alert(data);

                                encrypt.setPublicKey(data);

                                let usernameEncrypted = encrypt.encrypt($('#username').val())
                                let passwordEncrypted = encrypt.encrypt($('#password').val())

                                $.ajax({
                                    type: "POST",
                                    dataType: "text",
                                    url: "/login/createToken",
                                    data: JSON.stringify({
                                        'username': usernameEncrypted,
                                        'password': passwordEncrypted
                                    }), success: function (data, result, xhr) {
                                        if (xhr.status === 200) {
                                            document.cookie = "Token=" + data + ";Path=/"
                                            if (document.getElementById("remember").checked === true) {
                                                localStorage.setItem("username", $("#username").val());
                                                localStorage.setItem("password", $("#password").val());
                                            } else {
                                                $("#password")
                                                localStorage.setItem("username", "");
                                                localStorage.setItem("password", "");
                                            }
                                            window.location.href = "/main/home"
                                        }
                                    }, error: function () {
                                        document.getElementById("sign in").innerHTML = "Sign in"
                                        alert("用户名或密码错误")
                                    }
                                })
                            }, error: function () {
                                document.getElementById("sign in").innerHTML = "Sign in"
                            }
                        })
                    } else if ($('#verifyCode').val().toLowerCase() !== data.toLowerCase()) {
                        alert("验证码错误！")
                        document.getElementById("sign in").innerHTML = "Sign in"
                    }
                } else {
                    document.getElementById("sign in").innerHTML = "Sign in"
                }
                changeUrl()
            }
        })

    }

    function changeUrl() {
        document.getElementById('verifyCodePic').src = "/login/verifyCodePic" + "?time=" + Date.now();
    }

    window.onload = function () {

        history.pushState(null, null, "/login");

        if (localStorage.getItem("username") !== "" && localStorage.getItem("password") !== "") {
            //alert("读取账号密码:\n username:"+ localStorage.getItem("username").toString() + "\n"+"password:"+localStorage.getItem("password").toString());
            $("#username").val(localStorage.getItem("username"));
            $("#password").val(localStorage.getItem("password"));
            document.getElementById("remember").checked = true;
        } else {
            $("#username").val("");
            $("#password").val("");
            document.getElementById("remember").checked = false;
        }

        $.ajax({
            type: "GET",
            url: "/login/authenticity",
            success: function () {
                // alert("token验证通过")
                window.location.href = "/main/home"
            }
        })
    }
</script>
</body>
</html>
