<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="" xmlns:th="www.thymeleaf.org"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Game Manager</title>

    <link rel="icon" href="../webroot/assets/media/image/logo.png">
    <link rel="stylesheet" href="../webroot/assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="../webroot/assets/css/style.css">

    <!-- Plugin styles -->
    <link rel="stylesheet" href="../webroot/vendors/bundle.css" type="text/css">

    <!-- Prism -->
    <link rel="stylesheet" href="../webroot/vendors/prism/prism.css" type="text/css">

    <!-- App styles -->
    <link rel="stylesheet" href="../webroot/assets/css/app.min.css" type="text/css">
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>
<body>
<!-- Left Panel -->
<aside class="navigation left-panel">

    <!-- begin::logo -->
    <div id="logo">

        <img class="logo" src="../webroot/assets/media/image/logo.png" alt="logo">
        <img class="logo-sm" src="../webroot/assets/media/image/logo-sm.png" alt="small logo">
        <img class="logo-dark" src="../webroot/assets/media/image/logo-dark.png" alt="dark logo">
    </div>
    <!-- end::logo -->

    <!-- begin::navigation header -->
    <header class="navigation-header">
        <div>
            <h5>Fotoable</h5>
            <p class="text-muted">Administrator</p>
            <ul class="nav">
                <li class="nav-item">
                    <a onclick="logout()" class="btn nav-link bg-danger-bright" title="Logout" data-toggle="tooltip">
                        <i data-feather="log-out"></i>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <!-- end::navigation header -->

    <!-- begin::navigation menu -->
    <div class="navigation-menu-body" th:utext="${sidePanal}">

        <!--        <ul>-->
        <!--            <li class="navigation-divider">最大类别</li>-->
        <!--            <li><a href="#">Trophies</a>-->
        <!--                <ul>-->
        <!--                    <li><a href="queryTrophies">queryTrophies</a></li>-->
        <!--                </ul>-->
        <!--            </li>-->
        <!--            <li><a href="#">Login</a>-->
        <!--                <ul>-->
        <!--                    <li><a href="queryLogin">queryLogin</a></li>-->
        <!--                    <li><a href="queryChest">queryChest</a></li>-->
        <!--                </ul>-->
        <!--            </li>-->
        <!--        </ul>-->

    </div>
    <!-- end::navigation menu -->

</aside>
<!-- Left Panel -->

<!-- Right Panel -->


<div id="right-panel" class="right-panel" style="width: 1000px;margin: 35px auto">

    <!-- Header-->
    <header id="header" class="header">
        <div class="top-left">
            <div class="navbar-header">

            </div>
        </div>
    </header><!-- /header -->
    <!-- Header-->

    <div class="content" style="margin: auto">
        <div class="animated fadeIn">


            <div class="row">


                <div class="col-lg-6" style="flex: 0 0 auto;max-width: 100%">
                    <div class="card">
                        <div class="card-header">
                            <strong>Basic Form</strong> Elements
                        </div>
                        <div th:utext="${name}"></div>


                    </div>

                </div>

            </div>

        </div>

    </div>
</div>


<script src="../webroot/vendors/bundle.js"></script>

<!-- Select2 -->
<script src="../webroot/vendors/select2/js/select2.min.js"></script>
<script src="../webroot/assets/js/examples/select2.js"></script>

<!-- Range slider -->
<script src="../webroot/vendors/range-slider/js/ion.rangeSlider.min.js"></script>
<script src="../webroot/assets/js/examples/range-slider.js"></script>

<!-- Input mask -->
<script src="../webroot/vendors/input-mask/jquery.mask.js"></script>
<script src="../webroot/assets/js/examples/input-mask.js"></script>

<!-- Tagsinput -->
<script src="../webroot/vendors/tagsinput/bootstrap-tagsinput.js"></script>
<script src="../webroot/assets/js/examples/tagsinput.js"></script>

<!-- Prism -->
<script src="../webroot/vendors/prism/prism.js"></script>

<!-- App scripts -->
<script src="../webroot/assets/js/app.min.js"></script>
<!-- Prism -->

<script src="../webroot/assets/js/main.js"></script>
<script src="../webroot/vendors/bundle.js"></script>

<script type="text/javascript" th:inline="javascript">

    var pageName = [[${pagename}]]

    $(function () {
        console.log(pageName.t);

        $("[href="+pageName+"]").addClass("active");
        $("[href="+pageName+"]").parent().parent().parent().addClass("open")
        console.log(pageName);

    })

    function logout() {
        localStorage.setItem("token", "token");
        window.location.href="/login";
    }

    function btn(url) {
        let Authorization = localStorage.getItem("token").toString()
        if (Authorization !== "token") {
            window.location.href = "/main/"+ url +"?Authorization=" + Authorization
        }
    }

    window.onload = function () {
        let url = window.location.href;
        history.pushState(null, null, url.split("?")[0]);  //将网址设置
    }
    // window.onload = function() {
    //     if (localStorage.getItem("token") != null) {
    //         $.ajax({
    //             type: "POST",
    //             dataType: "text",
    //             url: "/login/authenticity",
    //             headers: {
    //                 Authorization: "Bearer " + localStorage.getItem("token").toString()
    //             }, error: function () {
    //                 window.location.href = "/login";
    //             }
    //         });
    //     } else {
    //         window.location.href = "/login";
    //     }
    // }
</script>
</body>
</html>
